<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h3>Access Denied</h3>
    <p>You don't have permission to access this page.</p>
    <p>Logged in user: <b sec:authentication="name"></b></p>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="btn btn-outline-primary btn-sm"/>
    </form>
</div>
</body>
</html>